<app-actividades-header></app-actividades-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-input #nombreJugador placeholder="Nombre de Jugador"></ion-input>
        <ion-button (click)="agregaJugadores(nombreJugador.value); nombreJugador.value='';" color="warning">Agregar</ion-button>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row *ngFor="let jugadores of JugadoresService.jugadores">
    <ion-col>
      <ion-input [(ngModel)]="jugadores.nombre"></ion-input>
    </ion-col>
  </ion-row>
  <ion-button *ngIf="JugadoresService.jugadores.length" routerLink="/juego" expand="block" shape="round" color="warning">
    Jugar
  </ion-button>
</ion-grid>
</ion-content>
