<ion-content>
    <ion-grid fixed class="tablero">
        <ion-row *ngFor="let x of arrFilas; let indice_fila = index">
            <ion-col *ngFor="let y of arrCols; let indice_col = index" (click)="seleccionarValor((indice_fila * arrCols.length) + indice_col)">
                <div [ngClass]="{'seleccionado': esVisible((indice_fila * arrCols.length) + indice_col)}">
                    <span *ngIf="!esVisible((indice_fila * arrCols.length) + indice_col)">
                        <ion-icon name="radio-button-off"></ion-icon>
                    </span>
                    <span *ngIf="esVisible((indice_fila * arrCols.length) + indice_col)">
                        <ion-icon name="{{obnerterIconopar(juego.valores[(indice_fila * arrCols.length) + indice_col])}}"></ion-icon>
                    </span>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>