<app-biblioteca-header class="ignore"></app-biblioteca-header>

<ion-content>
  <ion-text><u>Polinización</u></ion-text>
  <ion-row *ngFor="let data of data_polinizacion">
    <img src={{data.ruta_imagen_polinizacion}} class="imagen">
  </ion-row>
  <ion-text>
    <p *ngFor="let data of data_polinizacion">
      {{data.descripcion_proceso}}
    </p>
  </ion-text>
</ion-content>

<app-biblioteca-footer class="ignore"></app-biblioteca-footer>
