u {
    content: "";
    text-decoration: none;
    padding-bottom: 10px;
    //padding-left: 0px;
    //padding-right: 28px;
    margin-left: 0px;
    font-size: 23px;
    font-family: OpenSans-SemiBold;
    border-bottom: 5px solid #36FF14;
    color: black;
    //margin-left: 28px;
}

p{
    font-family: OpenSans-Regular;
    font-size: 16px;
    text-align: justify;
}

*{
    margin-left: 28px;
    padding-right: 28px;
}

.imagen{
    margin-top: 53px;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 10px;
}

.ignore{
    margin-left: 0px;
    padding-right: 0px;
}

app-biblioteca-header {
    margin-bottom: 20px;
}