  u {
    content: "";
    text-decoration: none;
    padding-bottom: 5px;
    //padding-left: 0px;
    //padding-right: 28px;
    margin-left: 0px;
    font-size: 23px;
    font-family: OpenSans-SemiBold;
    border-bottom: 5px solid #ffee00;
    color: black;
    margin-left: 28px;
  }
  
  .titulos{
    margin-top: 5px;
    font-size: 20px;
    font-family: OpenSans-Regular;
  }

  .desc{
    margin-top: 5px;
  }

  app-actividades-header{
    margin-bottom: 30px;
  }

  ion-grid{
    margin-top: 10%;
  }

  ion-row{
    margin-top: 40px;
  }
  
  ion-col {
    text-align: center;
  }
  

  .centrar_imagen{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 90%;
    width: 90%;
    padding-top: auto;
    padding-bottom: auto;
  }
  
  .botones{
    background-color: white;
    border: 8px solid  #FEDF05;
    border-radius: 20px;
    height: 130px;
    width: 130px;
    margin-bottom: 5px;
  }

  div{

    //align-items: center;
    justify-content: center;
    //display: inline-block;
    margin: 0 auto;
    text-align: center;
    //position: relative;
    //left: 50%;  
  }
