<app-actividades-header></app-actividades-header>

<ion-content [fullscreen]="true">
  <ion-text><u>Actividades lúdicas</u></ion-text>
  <ion-row>
    <ion-col routerLink="/ahorcado" size-sm="6">
      <div class="botones">
        <ion-img src="/assets/ahorcado.png" width="140" height="140" class="centrar_imagen"> </ion-img>
      </div>
      <div class="titulos">
        <P>Ahorcado</P>
      </div>
    </ion-col>
    
    <ion-col routerLink="/inicio" size="6">
      <div class="botones">
        <ion-img src="/assets/memorama.png" width="140" height="140" class="centrar_imagen"> </ion-img>
      </div>
      <div class="titulos">
        <P>Memorama</P>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="desc">
    <ion-col size-sm="3"></ion-col>
    <ion-col routerLink="/actividades-descargables"  size-sm="6">
      <div class="botones">
        <ion-img src="/assets/descargables_act.png" width="140" height="140" class="centrar_imagen"> </ion-img>
      </div>
      <div class="titulos">
        Descargables
      </div>
    </ion-col>
    <ion-col size-sm="3"></ion-col>
  </ion-row>
</ion-content>

<app-actividades-footer></app-actividades-footer>