.margen-top{
    --padding-end: 0px;
    --inner-padding-end: 0px;
    --inner-padding-bottom: 0px;
    --inner-padding-top: 0px;
    --height: 56px;
    --min-height: 56px;
    padding-bottom: 0px;
    margin-bottom: -1px;
}

.contenedor {
    --height: 56px;
    overflow: hidden;
}

ion-title{
    font-family:OpenSans-Bold;
    font-size: 24px;
    color:#6A6A6A;
}