svg{
  
  //align-items: center;
  justify-content: center;
  //display: inline-block;
  margin: 0 auto;
  text-align: center;
  //position: relative;
  //left: 50%;  
}

.titulos{
  margin-top: 10px;
  font-size: 20px;
  font-family: OpenSans-Regular;
}

u {
  content: "";
  text-decoration: none;
  padding-bottom: 5px;
  //padding-left: 0px;
  //padding-right: 28px;
  margin-left: 0px;
  font-size: 30px;
  font-family: OpenSans-SemiBold;
  border-bottom: 5px solid #36FF14;
  color: black;
  margin-left: 28px;
}

app-biblioteca-header{
  margin-bottom: 15px;
}

ion-grid{
  margin-top: 5%;
}

ion-col {
  text-align: center;
}


.centrar_imagen{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 90%;
  width: 90%;
  padding-top: auto;
  padding-bottom: auto;
}

.botones{
  background-color: white;
  border: 8px solid  lightgreen;
  border-radius: 20px;
  height: 140px;
  width: 140px;
}

div{

  //align-items: center;
  justify-content: center;
  //display: inline-block;
  margin: 0 auto;
  text-align: center;
  //position: relative;
  //left: 50%;  
}

