<app-biblioteca-header></app-biblioteca-header>

<ion-content [fullscreen]="true">
  <ion-text><u>Biblioteca</u></ion-text>
  <ion-grid fixed>
    <ion-row>
      <ion-col routerLink="/menu-informacion" size-sm="6">
         <!--
        <svg width="162" height="162">
          <rect x="5" y="5" rx="20" ry="20" width="150" height="150"
          style="fill:white;stroke:lightgreen;stroke-width:8;opacity:1" />
        </svg>-->
        <div class="botones">
        <ion-img src="/assets/informacion.png" width="140" height="140" class="centrar_imagen" > </ion-img>
        </div>
        <div class="titulos">
          Información
        </div>
      </ion-col>
      <ion-col routerLink="/menu-plantas">
         <!--
        <svg width="162" height="162">
          <rect x="5" y="5" rx="20" ry="20" width="150" height="150"
          style="fill:white;stroke:lightgreen;stroke-width:8;opacity:1" />
        </svg>-->
        <div class="botones">
           <ion-img src="/assets/plantas.png" width="140" height="140" class="centrar_imagen" > </ion-img>
        </div>
        <div class="titulos">
          Plantas
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col routerLink="/menu-abejas">
         <!--
        <svg width="162" height="162">
          <rect x="5" y="5" rx="20" ry="20" width="150" height="150"
          style="fill:white;stroke:lightgreen;stroke-width:8;opacity:1" />
        </svg> -->
        <div class="botones">
        <ion-img src="/assets/abejas.png" width="140" height="140" class="centrar_imagen" > </ion-img>
        </div>
        <div class="titulos">
          Abejas
        </div>
      </ion-col>
      <ion-col routerLink="/polinizacion">
        <!--
        <svg width="162" height="162">
          <rect x="5" y="5" rx="20" ry="20" width="150" height="150"
          style="fill:white;stroke:lightgreen;stroke-width:8;opacity:1" />
        </svg>
         -->
        <div class="botones">
        <ion-img src="/assets/polinizacion.png" width="140" height="140" class="centrar_imagen" > </ion-img>
        </div> 
        <div class="titulos">
          Polinización
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<app-biblioteca-footer></app-biblioteca-footer>