<ion-header class="margen-top">

  <ion-toolbar class="contenedor">
    <ion-title> MeliBee </ion-title>
    <ion-item slot="end"  class="margen-top">
      <svg width="186" height="56">
        <filter id="dropshadoww" height="130%">
         <feGaussianBlur in="SourceAlpha" stdDeviation="3"/> <!-- stdDeviation is how much to blur -->
         <feOffset dx="5" dy="5" result="offsetblur"/> <!-- how much to offset -->
         <feComponentTransfer>
        <feFuncA type="linear" slope="0.2"/> <!-- slope is the opacity of the shadow -->
         </feComponentTransfer>
         <feMerge>
        <feMergeNode/> <!-- this contains the offset blurred image -->
        <feMergeNode in="SourceGraphic"/> <!-- this contains the element that the filter is applied to -->
         </feMerge>
        </filter>
        
        
        <rect class="ultimo" width="200" height="200" style="fill:#014422;stroke-width:3;stroke:none;" transform="translate(-35,0) rotate(-45)"/>
        <rect class="medio" width="200" height="200" style="fill:#25A032;stroke-width:3;stroke:none;" transform="translate(-90,0) rotate(-45)"/>
        <rect class="primero" width="200" height="200" style="fill:#A4DE02;stroke-width:3;stroke:none;" transform="translate(-145,0) rotate(-45)"/>
        <rect width="200" height="200" style="fill:rgb(255,255,255);stroke-width:3;stroke:none;" transform="translate(-200,0) rotate(-45)"/>
         
         
        </svg>      
    </ion-item>
  </ion-toolbar>
  
</ion-header>