u{
  content: "";
  text-decoration: none;
  padding-bottom: 5px;
  //padding-left: 0px;
  //padding-right: 28px;
  margin-left: 0px;
  font-size: 23px;
  font-family: OpenSans-SemiBold;
  border-bottom: 5px solid #36FF14;
  color: black;
  //margin-left: 28px;
  margin-left: 28px;
  padding-right: 28px;
}

.titulos{
  margin-top: 10px;
  font-size: 18px;
  font-family: OpenSans-Regular;
}


app-biblioteca-header {
  margin-bottom: 15px;
}

.subtitulo{
  font-family: OpenSans-Regular;
    font-size: 16px;
    margin-left: 28px;
    padding-right: 28px;
    padding-top: 30px;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

svg{
  
  //align-items: center;
  justify-content: center;
  //display: inline-block;
  margin: 0 auto;
  text-align: center;
  //position: relative;
  //left: 50%;  
}
  ion-grid{
    margin-top: 10%;
  }
  
  ion-col {
    text-align: center;
    margin-top: 10%;
  }

  .botones{
    background-color: white;
    border: 7px solid lightgreen;
    border-radius: 10px;
  }
.centrar_imagen{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 90%;
  width: 90%;
  padding-top: auto;
  padding-bottom: auto;
}
div{
  //align-items: center;
  justify-content: center;
  //display: inline-block;
  margin: 0 auto;
  text-align: center;
  //position: relative;
  //left: 50%;  
  padding-top: 0px;
}
