<app-biblioteca-header></app-biblioteca-header>

<ion-content [fullscreen]="true">
  <ion-text><u>Abejas</u></ion-text>
  <ion-row>
    <ion-text class="subtitulo">
      Grupos representativos
    </ion-text>
  </ion-row>
  <ion-row>

    <ion-col size="6" lines="inset" *ngFor="let data of Data_menu_abejas">
      <div (click)="abrirPaginaAbejas(data.id_abeja_grupo)">
        <input type="image" src={{data.ruta_imagen_grupo_menu}} width="130" height="130" class="botones">
      </div>
      <div class="titulos">
        {{data.nombre_abeja_grupo}}
      </div>

    </ion-col>

  </ion-row>

</ion-content>

<app-biblioteca-footer></app-biblioteca-footer>