<app-biblioteca-header></app-biblioteca-header>

<ion-content>
  <ion-row lines="inset" *ngFor="let n of DataConcepto">
    <ion-col size="12" size-sm>
      <div>
        <u>{{n.nombre_concepto}}</u>
      </div>
      <div>
        <p class="justificar_texto">{{n.definicion_concepto}}</p>
      </div>
    </ion-col>
  </ion-row>

</ion-content>

<app-biblioteca-footer></app-biblioteca-footer>