u {
    content: "";
    text-decoration: none;
    padding-bottom: 5px;
    //padding-left: 0px;
    //padding-right: 28px;
    margin-left: 0px;
    font-size: 23px;
    font-family: OpenSans-SemiBold;
    border-bottom: 5px solid #36FF14;
    color: black;
    //margin-left: 28px;
    margin-left: 28px;
    padding-right: 28px;
}

app-biblioteca-header {
    margin-bottom: 15px;
}

.justificar_texto{
    margin-top: 30px;
    font-family: OpenSans-Light;
    font-size: 17px;
    text-align: justify;
    margin-left: 28px;
    padding-right: 28px;
}