u {
    content: "";
    text-decoration: none;
    padding-bottom: 5px;
    //padding-left: 0px;
    //padding-right: 28px;
    margin-left: 0px;
    font-size: 23px;
    font-family: OpenSans-SemiBold;
    border-bottom: 5px solid #FFDBAC;
    color: black;
    //margin-left: 28px;
}

app-jardin-header {
    margin-bottom: 20px;
}

p{
    font-family: OpenSans-SemiBold;
    font-size: 13px;
    text-align: justify;
}

*{
    margin-left: 28px;
    padding-right: 28px;
}

ion-slides{
    width: 100%;
    margin-left: 10px;
    margin-top: 31px;
    margin-bottom: 10px;
    margin-right: 5px;
}

// ion-slide{
//     margin-left: auto;
//     margin-right: auto;
//     display: block;
// }

img{
    margin-left: 0px;
    width: 90%;
    margin-right: 28px;
    // align-items: center;
}

iframe{
    padding-top: 5px;
    width:auto;
    margin-left: -0px;
}

.ignore{
    margin-left: 0px;
    padding-right: 0px;
}

.title{
    font-family: OpenSans-Bold;
    font-size: 14px;
    text-align: justify;
}

.mapouter{
    position:relative;
    text-align:right;
    height:200px;
    width:auto;
    margin-left: -0px;
    margin-top: -20px;
    margin-bottom: -20px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.gmap_canvas {
    background:none!important;
    width: auto;
    text-align: center;
}