<!--<app-header section="jardin" previous="home"></app-header>-->
<app-jardin-header class="ignore"></app-jardin-header>

<ion-content>
  <ion-text><u>Jardín botánico</u></ion-text>
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let img of [1, 2, 3, 4]">
      <img src="assets/jardin/{{ img }}.jpg">
    </ion-slide>
  </ion-slides>
  
  <ion-text>
    <p>
      El Jardín Botánico Javier Clavijero se ubica a 2.5 km de la ciudad de Xalapa a una altitud de 1400 m s.n.m. Comprende un área de ocho hectáreas en las que conviven plantas representativas del bosque de niebla, así como plantas de ciertos grupos de plantas (medicinales, ornamentales, cícadas, palmas o plantas carnívoras entre otras).
    </p>
    <p class = "title">
      Ubicación:
    </p>
  </ion-text>
  
  <!--<img src="assets/jardin/mapa.png" class="extra">-->
  
  <div>
    <div class="gmap_canvas">
      <iframe width="100%" height="200" class="gmap_canvas" src="https://maps.google.com/maps?q=jardin%20botanico%20francisco%20javier%20clavijero&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
  </div>
  <hr>
  <ion-text>
    <p class = "title">
      Meliponario:
    </p>
  </ion-text>
    
  <img src="assets/jardin/meliponario.jpg" class="extra">

  <ion-text>
    <p>
      Te invitamos a visitar el Meliponario Demostrativo del Jardín Botánico Francisco Javier Clavijero, ubicado al fondo de éste, junto a la colección de bambúes nativos. En el podrás aprender sobre el manejo de las abejas nativas sin aguijón (meliponinos) que realizan los productores de miel virgen del municipio de Atzalan, Veracruz. Así como observar otros modos de realizar su manejo. 
    </p>
  </ion-text>

  <iframe width="80%" height="200" [src]="vidUrl" frameborder="0"></iframe>

</ion-content>

<app-jardin-footer class="ignore"></app-jardin-footer>
<!--<app-footer section="jardin"></app-footer>-->