<ion-footer class="ion-no-border">
  <ion-toolbar class="contenedor">
    <ion-item class="margen">
      <!--
      <svg  viewBox="0 0 100 100" preserveAspectRatio="none" width="100%" height="35">
        
        <rect class="ultimo" x=0 y =0 width="100" height="100" style="fill:#BD903C;stroke-width:3;stroke:none;" transform="translate(0,80) rotate(-2)"/>
        <rect class="medio" x=0 y =0 width="100" height="100" style="fill: #000000;stroke-width:3;stroke:none;" transform="translate(0,80) rotate(5)"/>
        <rect class="primero" x=0 y =0 width="100" height="100" style="fill:#D1D73E;stroke-width:3;stroke:none;" transform="translate(0,80) rotate(-8)"/>


        </svg>
      -->
      <svg preserveAspectRatio="none" viewBox="0 0 640 62" width=100% height="35">

        <path class="ultimof" d="M640 62L207.5 62L640.57 0L640 62Z" style="fill:#BD903C;stroke-width:3;stroke:none;">
        </path>
        <path class="mediof" d="M0 61.63L496.12 61.6L0 18.2L0 61.63Z" style="fill:#000000;stroke-width:3;stroke:none;">
        </path>
        <path class="primerof" d="M640 62.2L309 62L75.11 62.08L640 41.1L640 62.2Z"
          style="fill:#D1D73E;stroke-width:3;stroke:none;"></path>

      </svg>

    </ion-item>
  </ion-toolbar>
</ion-footer>