.margen{

    --padding-end: 0px;
    --inner-padding-end: 0px;
    --inner-padding-bottom: 0px;
    --inner-padding-top: 0px;
    --inner-padding-right:0px;
    --inner-padding-left:0px;
    --height: 35px;
    --min-height: 35px;
    padding-bottom: 0px;
    margin-bottom: -22px;
    margin-left: -16px;
}

.contenedor {
    --height: 35px;
    overflow: hidden;
}

.ion-no-border{
    background: none;
}

svg {
    //width:100%;
}