<app-biblioteca-header></app-biblioteca-header>

<ion-content>


  <ion-row>
    <ion-col size="12" size-sm>
      <div>
        <u lines="inset" *ngFor="let n of Data">{{n.nombre_comun}}</u>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="sli">
    <ion-col size="12" size-sm>
      <div>
        <ion-slides pager="true">
          <ion-slide *ngFor="let slide of Data_lista_imagenes">
            <img [src]="slide.ruta_imagen_planta_menu" class="centrar_imagen">
          </ion-slide>
        </ion-slides>
      </div>
    </ion-col>
  </ion-row>



  <ion-row lines="inset" *ngFor="let data of Data" class="texto">
    <ion-col size="6" size-sm="3">
      <div>
        <ion-label class="signals">
          <h5>Nombre común:</h5>
        </ion-label>
      </div>
      <div>
        <ion-label class="signals">
          <h5>Familia:</h5>
        </ion-label>
      </div>
      <div>
        <ion-label class="signals">
          <h5>Nombre cientifíco:</h5>
        </ion-label>
      </div>
      <div>
        <ion-label class="signals">
          <h5>Tipo planta:</h5>
        </ion-label>
      </div>
    </ion-col>



    <ion-col size="6" size-sm="3">
      <div>
        <ion-label class="responses">
          <p>{{data.nombre_comun}}</p>
        </ion-label>
      </div>
      <div>
        <ion-label class="responses">
          <p>{{data.familia}}</p>
        </ion-label>
      </div>
      <div>
        <ion-label class="responses">
          <p>{{data.nombre_cientifico}}</p>
        </ion-label>
      </div>
      <div>
        <ion-label class="responses">
          <p>{{data.nombre_tipo_planta}}</p>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>

  <ion-row lines="inset" *ngFor="let data of Data" class="texto">
    <ion-col size="6" size-sm>
      <div>
        <ion-label class="responses">
          <p class="centrar_texto" id="altura_planta">{{data.rango_altura_planta}} m</p>
        </ion-label>
      </div>
      <div>
        <ion-label>
          <img src={{data.ruta_imagen_tipo_planta}} class="centrar_imagen">
        </ion-label>
      </div>
    </ion-col>

    <ion-col size="6" size-sm>
      <div>
        <ion-label class="responses">
          <p class="centrar_texto" id="altura_hoja">{{data.rango_altura_hoja}} cm</p>
        </ion-label>
      </div>
      <div>
        <ion-label>
          <img src='/assets/tipo_planta/hoja_1.png' class="centrar_imagen">
        </ion-label>
      </div>
      <div>
        <ion-label class="responses">
          <p class="centrar_texto">{{data.rango_anchura_hoja}} cm</p>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>


  <hr>

  <ion-grid>
    <ion-row *ngFor="let data of Data" class="texto">
      <ion-col size="3.5" size-sm>
        <div id="calend">
          Calendario:
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-label size="auto" id="florece_title">
            <div>Florece</div>
          </ion-label>
        </div>
      </ion-col>
      <ion-col size="1" class="celda1">
      </ion-col>
      <ion-col size="auto" size-sm>
        <div>
          <ion-label id="fructifica_title">
            <div>Fructifica</div>
          </ion-label>
        </div>
      </ion-col>
      <ion-col size="1" class="celda2">
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--<ion-row lines="inset" *ngFor="let data of Data_lista_fructifica_planta" class= "texto">-->
  <ion-row lines="inset" class="meses">
    <ion-col size="1" size-sm>
      <!--<p>{{data.mes}}</p>-->
      <div class="flor-ene"> &nbsp; </div>
      <div class="fruto-ene"> &nbsp; </div>
      <div>Ene</div>
    </ion-col>
    <ion-col size="1" size-sm>
      <div class="flor-feb"> &nbsp; </div>
      <div class="fruto-feb"> &nbsp; </div>
      <div>Feb</div>
    </ion-col>
    <ion-col size="1" size-sm>
      <div class="flor-mar"> &nbsp; </div>
      <div class="fruto-mar"> &nbsp; </div>
      <div>Mar</div>
    </ion-col>
    <ion-col size="1" size-sm>
      <div class="flor-abr"> &nbsp; </div>
      <div class="fruto-abr"> &nbsp; </div>
      <div>Abr</div>
    </ion-col>
    <ion-col size="1" size-sm>
      <div class="flor-may"> &nbsp; </div>
      <div class="fruto-may"> &nbsp; </div>
      <div>May</div>
    </ion-col>
    <ion-col size="1" size-sm>
      <div class="flor-jun"> &nbsp; </div>
      <div class="fruto-jun"> &nbsp; </div>
      <div>Jun</div>
    </ion-col>
    <ion-col size="1" size-sm>
      <div class="flor-jul"> &nbsp; </div>
      <div class="fruto-jul"> &nbsp; </div>
      <div>Jul</div>
    </ion-col>
    <ion-col size="1" size-sm>
      <div class="flor-ago"> &nbsp; </div>
      <div class="fruto-ago"> &nbsp; </div>
      <div>Ago</div>
    </ion-col>
    <ion-col size="1" size-sm>
      <div class="flor-sep"> &nbsp; </div>
      <div class="fruto-sep"> &nbsp; </div>
      <div>Sep</div>
    </ion-col>
    <ion-col size="1" size-sm>
      <div class="flor-oct"> &nbsp; </div>
      <div class="fruto-oct"> &nbsp; </div>
      <div>Oct</div>
    </ion-col>
    <ion-col size="1" size-sm>
      <div class="flor-nov"> &nbsp; </div>
      <div class="fruto-nov"> &nbsp; </div>
      <div>Nov</div>
    </ion-col>
    <ion-col size="1" size-sm>
      <div class="flor-dic"> &nbsp; </div>
      <div class="fruto-dic"> &nbsp; </div>
      <div>Dic</div>
    </ion-col>
  </ion-row>

  <hr>

  <ion-row lines="inset" *ngFor="let data of Data" class="texto">
    <ion-col size="12" size-sm>
      <div>
        <ion-label class="signals">
          <h5>Origen:</h5>
        </ion-label>
      </div>
      <div>
        <ion-label class="responses">
          <p class="justificar_texto">{{data.origen}}</p>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>

  <ion-row lines="inset" *ngFor="let data of Data" class="texto">
    <ion-col size="12" size-sm>
      <div>
        <ion-label class="signals">
          <h5>Interacción:</h5>
        </ion-label>
      </div>
      <div>
        <ion-label class="responses">
          <p class="justificar_texto">{{data.interaccion}}</p>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="texto">
    <ion-col size="2" lines="inset" *ngFor="let data of Data_lista_abejas">
      <div (click)="abrir_informacion_abeja(data.id_especie_abeja)">
        <input type="image" src={{data.ruta_imagen_especie_abeja_menu}} width="50" height="50" class="botones">
      </div>
    </ion-col>
  </ion-row>

</ion-content>

<app-biblioteca-footer></app-biblioteca-footer>