u {
    content: "";
    text-decoration: none;
    padding-bottom: 5px;
    //padding-left: 0px;
    //padding-right: 28px;
    margin-left: 0px;
    font-size: 23px;
    font-family: OpenSans-SemiBold;
    border-bottom: 5px solid #36FF14;
    color: black;
    //margin-left: 28px;
    margin-left: 28px;
    padding-right: 28px;
}

app-biblioteca-header {
    margin-bottom: 15px;
}

  .sli{
    padding-top: 20px;
    margin-left: 28px;
    padding-right: 28px;
    padding-bottom: 0px;
  }

  .texto{
    margin-left: 28px;
    padding-right: 28px;
  }

  .signals{
    font-family: OpenSans-Regular;
    color: black;
    font-size: 17px;
  }
  
  .responses{
    font-family: OpenSans-Light;
    color: black;
    font-size: 16px;
  }

.centrar_texto{
    text-align: center;
}

.centrar_imagen{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 50%;
    width: 50%;
    margin-bottom: 0px;
    margin-top: -10px;
}

img{
    margin-bottom: 30px;  
  }

#altura_planta{
    padding-top: 0px;
    margin-top: 0px;
    transform: translate(-60px, 50px) rotate(-90deg) ;
    color: black;
}

#altura_hoja{
    padding-top: 0px;
    margin-top: 0px;
    transform: translate(-60px, 50px) rotate(-90deg) ;
    color: black;
}

.celda1{
    background:#C27FD6;
    padding-left: 0px;
    margin-left: 0px;
    width: 10px;
    height: 20px;
    margin-top: 5px;
    transform: translate(-30px);
}
.celda2{
    background: #E88A77;
    padding-left: 0px;
    margin-left: 0px;
    width: 10px;
    height: 20px;
    margin-top: 5px;
}

#florece_title {
    //padding-left: 5px;
    margin-left: 0px;
    //width: 10px;
    //margin-right: -10px;
    font-family: OpenSans-Regular;
    color: black;
    font-size: 14px;
}

#fructifica_title{
    width: auto;
    height: 10px;
    font-family: OpenSans-Regular;
    color: black;
    font-size: 14px;
}
#calend{
    font-family: OpenSans-Regular;
    color: black;
    font-size: 14px;
}

.justificar_texto{
    text-align: justify;
}

.botones{
    background-color: white;
    border: 3px solid lightgreen;
    border-radius: 10px;
}

.meses {
    font-family: OpenSans-Light;
    color: black;
    font-size: 10.5px;
    border-right: 1px solid black;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}


// PRUEBA DE DISTRIBUCION
// ion-col {
//     border: 1px solid grey;
//     text-align: center;
//   }