<app-biblioteca-header></app-biblioteca-header>

<ion-content [fullscreen]="true">
  <ion-text><u>Plantas</u></ion-text>
  <ion-row >

    <ion-col  size="6" lines="inset" *ngFor="let data of Data_menu_planta">    
      <div (click)="abrirPaginaPlanta(data.id_planta)">
       <input type="image" src={{data.ruta_imagen_planta_menu}} width="130" height="130" class="botones" >
      </div>
      <div class= "titulos">
       {{data.nombre_comun}}
      </div>

   </ion-col>

  </ion-row>

</ion-content>

<app-biblioteca-footer></app-biblioteca-footer>