u {
    content: "";
    text-decoration: none;
    padding-bottom: 5px;
    //padding-left: 0px;
    //padding-right: 28px;
    margin-left: 0px;
    font-size: 23px;
    font-family: OpenSans-SemiBold;
    border-bottom: 5px solid #36FF14;
    color: black;
    //margin-left: 28px;
    margin-left: 28px;
    padding-right: 28px;
}


app-biblioteca-header {
  margin-bottom: 15px;
}

.sli{
    padding-top: 30px;
    margin-left: 28px;
    padding-right: 28px;
  }

.centrar_texto{
    text-align: center;
}

.centrar_imagen{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 60%;
    width: 60%;
}

img{
    margin-bottom: 40px;  
  }

.justificar_texto{
    text-align: justify;
}
.botones{
    background-color: white;
    border: 3px solid lightgreen;
    border-radius: 10px;
}

.signals{
    font-family: OpenSans-Regular;
    color: black;
    font-size: 17px;
  }
  
  .responses{
    font-family: OpenSans-Light;
    color: black;
    font-size: 16px;
  }
  
  
.texto{
    margin-left: 28px;
    padding-right: 28px;
  }

.unpoquitomas{
    width: 60%;
}