<app-biblioteca-header></app-biblioteca-header>

<ion-content>
  <ion-row>
      <div lines="inset" *ngFor="let n of Data_especie_abeja">
        <u >{{n.nombre_comun}}</u>
      </div>
  </ion-row>

  <ion-row class="sli">
    <ion-col size="12" size-sm>
      <div>
        <ion-slides pager="true">
          <ion-slide *ngFor="let slide of Data_imagenes_especie_abeja">
            <img [src]="slide.ruta_imagen_especie_abeja" class="centrar_imagen">
          </ion-slide>
        </ion-slides>
      </div>
    </ion-col>
  </ion-row>

  <ion-row lines="inset" *ngFor="let data of Data_especie_abeja" class="texto">
    <ion-col size="5" size-sm>
      <div>
        <ion-label class="signals" class="unpoquitomas">
          <h5>Nombre científico:</h5>
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="7" size-sm>
      <div>
        <ion-label class="responses">
          <p>{{data.nombre_cientifico}}</p>
        </ion-label>
      </div>
      <div>
        <ion-label  class="responses">
          <p>{{data.nombre_descubridor}} {{data.fecha_descubrimiento}}</p>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>

  <ion-row lines="inset" *ngFor="let data of Data_especie_abeja" class="texto">
    <ion-col size="5" size-sm>
      <div>
        <ion-label class="signals">
          <h5>Distribución:</h5>
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="7" size-sm>
      <div>
        <ion-label  class="responses">
          <p>{{data.distribucion}}</p>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>

  <ion-row lines="inset" *ngFor="let data of Data_especie_abeja" class="texto">
    <ion-col size="12" size-sm>
      <div>
        <ion-label class="signals">
          <h5>Datos curiosos:</h5>
        </ion-label>
      </div>
      <div>
        <ion-label  class="responses">
          <p class = "justificar_texto">{{data.datos_curiosos}}</p>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>

  <ion-row lines="inset" *ngFor="let data of Data_especie_abeja" class="texto">
    <ion-col size="12" size-sm>
      <div>
        <ion-label class="signals">
          <h5>Aprovechamiento:</h5>
        </ion-label>
      </div>
      <div>
        <ion-label  class="responses">
          <p class = "justificar_texto">{{data.aprovechamiento}}</p>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="texto">
    <ion-col size="2" lines="inset" *ngFor="let data of Data_lista_plantas">
      <div (click)="abrir_informacion_planta(data.id_planta)">
        <input type="image" src={{data.ruta_imagen_planta_menu}} width="50" height="50" class="botones">
      </div>
    </ion-col>
  </ion-row>

</ion-content>

<app-biblioteca-footer></app-biblioteca-footer>