#palabra_a_adivinar{
text-align: center;
letter-spacing: 10px;
font-size: 24px;
}

app-actividades-header{
    margin-bottom: 10px;
}


#botonera{
    text-align: center;
}

.my-custom-class {
    --background: #e5e5e5;
}

.justificar_texto{
    text-align: justify;
}

