<app-actividades-header></app-actividades-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="/assets/imagen_ahorcado/{{numFallos}}.png"></ion-img>
      </ion-col>
      <ion-col>
        <ion-badge *ngFor="let fallo of fallos">{{fallo}}</ion-badge>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p class = "justificar_texto" id="botonera">{{AcertijoaAdivinar}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p id="palabra_a_adivinar">{{palabra_adivinada_temporal}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col id="botonera">
        <ion-button color="{{boton.estado}}" shape="round" *ngFor="let boton of botones" (click)="botonClicked(boton)">{{boton.letra}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>