<ion-header>
  <ion-toolbar>
    <ion-title>juego</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="jugadores.length">
  <div>
    <h3>
      Jugador en Turno: {{ jugadorActual.nombre}}
    </h3>
    <h2>
      Aciertos: {{ jugadorActual.aciertos}}
    </h2>
    <h2>
      Intentos: {{jugadorActual.intentos}}
    </h2>
  </div>
  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let jugador of jugadores">
        <span>
          <ion-icon name="star" *ngIf="jugador === jugadorActual"></ion-icon>
          {{ jugador.nombre }}
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
    <app-memorama
      [filas]=2
      [columnas]=2
      [jugadores]="jugadores.length"
      (acertado)="verificarAciertos($event)" 
      (completado)="finalizarJuego()"
      (jugador)="cambiarJugador($event)"></app-memorama>
  
</ion-content>
