<app-biblioteca-header></app-biblioteca-header>

<ion-content padding>
  <ion-text><u>Información descargable</u></ion-text>
  <ion-row >

    <ion-col size="6" lines="inset" *ngFor="let data of Data">    
      <div>
       <input type="image" src="/assets/descargables.png" width="130" height="130" class="botones" (click)="downloadAndOpenPdf(data.ruta_archivo)">
      </div>
      <div>
       {{data.nombre_archivo}}
      </div>
   </ion-col>

  </ion-row>

</ion-content>

<app-biblioteca-footer></app-biblioteca-footer>