<app-actividades-header></app-actividades-header>

<ion-content padding>
  <ion-text><u>Actividades descargables</u></ion-text>
  <ion-row >

    <ion-col size="6" lines="inset" *ngFor="let data of Data">    
      <div>
       <input type="image" src="/assets/descargables_act.png" width="130" height="130" class="botones" (click)="downloadAndOpenPdf(data.ruta_archivo)">
      </div>
      <div class= "titulos">
       {{data.nombre_archivo}}
      </div>
   </ion-col>

  </ion-row>

</ion-content>

<app-actividades-footer></app-actividades-footer>
