.botones{
    background-color: white;
    border: 3px solid #FEDF05;
    border-radius: 10px;
}

u {
    content: "";
    text-decoration: none;
    padding-bottom: 5px;
    //padding-left: 0px;
    //padding-right: 28px;
    margin-left: 0px;
    font-size: 23px;
    font-family: OpenSans-SemiBold;
    border-bottom: 5px solid #ffee00;
    color: black;
    margin-left: 28px;
  }

  app-actividades-header{
    margin-bottom: 20px;
  }

  ion-row{
    margin-top: 30px;
  }
  
  ion-content{
    margin-left: 55px;
    padding-right: 55px;
  }

  div{

    //align-items: center;
    justify-content: center;
    //display: inline-block;
    margin: 0 auto;
    text-align: center;
    //position: relative;
    //left: 50%;  
  }

  .titulos{
    margin-top: 5px;
    font-size: 16px;
    font-family: OpenSans-Regular;
  }