<app-home-header class="header"></app-home-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <!-- Jardin Botanico -->
      <ion-col routerLink="/jardin">
        <!--
        <svg width="162" height="162">
         <rect x="5" y="5" rx="20" ry="20" width="150" height="150"
          style="fill:white;stroke:peru;stroke-width:8;opacity:1" />
        </svg> -->
        <div class="boton1">
          <ion-img src="/assets/jardin.png" class="centrar_imagen"> </ion-img>
        </div>

        <div class="titulos">
          Jardín botánico
        </div>
      </ion-col>

      <!-- Biblioteca -->
      <ion-col routerLink="/menu-biblioteca">
        <!--
        <svg width="162" height="162">
          <rect x="5" y="5" rx="20" ry="20" width="150" height="150"
          style="fill:white;stroke:lightgreen;stroke-width:8;opacity:1" />
        </svg>
      -->
        <div class="boton2">
          <ion-img src="/assets/Biblioteca.png" class="centrar_imagen"> </ion-img>
        </div>

        <div class="titulos">
          Biblioteca
        </div>
      </ion-col>
    </ion-row>

    <!-- Actividades Ludicas -->
    <ion-row>
      <ion-col routerLink="/actividades-ludicas">
        <!--
        <svg width="162" height="162">
          <rect x="5" y="5" rx="20" ry="20" width="150" height="150"
          style="fill:white;stroke:yellow;stroke-width:8;opacity:1" />
        </svg>
        -->

        <div class="boton3">
          <ion-img src="/assets/ludicas.png" class="centrar_imagen"> </ion-img>
        </div>
        <div class="titulos">
          Actividades lúdicas
        </div>
      </ion-col>

      <!-- Actualizar Datos -->
      <ion-col (click)="toasActualizarDatos()">
        <div class="boton4">
          <ion-img src="/assets/actualizar_datos.png" class="actualizar_datos"></ion-img>
        </div>
        <div class="titulos">
          Actualizar Datos
        </div>
      </ion-col>
    </ion-row>
    

  </ion-grid>

</ion-content>

<app-home-footer></app-home-footer>