#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.titulos{
  margin-top: 10px;
  font-size: 18px;
  font-family: OpenSans-Regular;
}

.header {
  margin-bottom: 5%;
}

#container a {
  text-decoration: none;
}

svg{
  
  //align-items: center;
  justify-content: center;
  //display: inline-block;
  margin: 0 auto;
  text-align: center;
  //position: relative;
  //left: 50%;  
}

div{
  
  //align-items: center;
  justify-content: center;
  //display: inline-block;
  margin: 0 auto;
  text-align: center;
  //position: relative;
  //left: 50%;  
}

ion-grid{
  margin-top: auto;
  // border: 1px solid grey;
}

ion-col {
  margin-bottom: 5%;
  text-align: center;
}

// .center {
//   display: block;
//   margin: 40px;
//   margin-top:0px;
//   width: 50%;
//  }

.centrar_texto{
  text-align: center;
}

.centrar_imagen{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 100%;
  width: 100%;
  padding-top: auto;
  padding-bottom: 10%;
}

img{
  margin-bottom: 40%;  
}


.justificar_texto{
  text-align: justify;
}

.boton1{
  background-color: white;
  border: 8px solid #BD903C;
  border-radius: 20px;
  height: 150px;
  width: 150px;
}
.boton2{
  background-color: white;
  border: 8px solid #62DE62;
  border-radius: 20px;
  height: 150px;
  width: 150px;
}
.boton3{
  background-color: white;
  border: 8px solid #FEDF05;
  border-radius: 20px;
  height: 150px;
  width: 150px;
}
.boton4{
  background-color: white;
  border: 8px solid lightblue;
  border-radius: 20px;
  height: 150px;
  width: 150px;
}

.actualizar_datos{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 80%;
  width: 80%;
  padding-top: 10%;
  padding-bottom: auto;
}


