<app-reconocimiento-header></app-reconocimiento-header>

<ion-content [fullscreen]="true">
  <ion-text><u>Reconocimiento de plantas</u></ion-text>
  <ion-grid fixed>
    <ion-row>
      <ion-col routerLink="/reconocimiento-archivo" size-sm="6">
        <!--
        <svg width="162" height="162">
          <rect x="5" y="5" rx="20" ry="20" width="150" height="150"
          style="fill:white;stroke:lightblue;stroke-width:8;opacity:1" />
        </svg> -->
        <div class="botones">
           <ion-img src="/assets/adjuntar.png" width="140" height="140" class="centrar_imagen" > </ion-img>
        </div>
        <div class="titulos">
          Adjuntar archivo
        </div>
      </ion-col>
      <ion-col routerLink="/menu-informacion">
          <!--
        <svg width="162" height="162">
          <rect x="5" y="5" rx="20" ry="20" width="150" height="150"
          style="fill:white;stroke:lightblue;stroke-width:8;opacity:1" />
        </svg>-->
        <div class="botones">
        <ion-img src="/assets/RI.png" width="140" height="140" class="centar-imagen" > </ion-img>
        </div>
        <div class="titulos">
          Tomar fotografía
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-reconocimiento-footer></app-reconocimiento-footer>