svg{
  
    //align-items: center;
    justify-content: center;
    //display: inline-block;
    margin: 0 auto;
    text-align: center;
    //position: relative;
    //left: 50%;  
  }
  
  ion-grid{
    margin-top: 10%;
  }
  
  ion-col {
    text-align: center;
  }