<app-biblioteca-header></app-biblioteca-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col routerLink="/reconocimiento-plantas" size-sm="6">
        <svg width="162" height="162">
          <rect x="5" y="5" rx="20" ry="20" width="150" height="150"
          style="fill:white;stroke:lightblue;stroke-width:8;opacity:1" />
        </svg>
        <div >
          Reconocimiento de plantas
        </div>
      </ion-col>
      <ion-col routerLink="/menu-informacion">
        <svg width="162" height="162">
          <rect x="5" y="5" rx="20" ry="20" width="150" height="150"
          style="fill:white;stroke:lightgreen;stroke-width:8;opacity:1" />
        </svg>
        <div>
          Biblioteca
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col routerLink="/jardin">
        <svg width="162" height="162">
          <rect x="5" y="5" rx="20" ry="20" width="150" height="150"
          style="fill:white;stroke:peru;stroke-width:8;opacity:1" />
        </svg> 
        <div>
          Jardín botánico
        </div>
      </ion-col>
      <ion-col routerLink="/actividades-ludicas">
        <svg width="162" height="162">
          <rect x="5" y="5" rx="20" ry="20" width="150" height="150"
          style="fill:white;stroke:yellow;stroke-width:8;opacity:1" />
        </svg>
        <div>
          Actividades lúdicas
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-biblioteca-footer></app-biblioteca-footer>