<app-biblioteca-header></app-biblioteca-header>

<ion-content>
  <ion-row>
    <ion-col size="12" size-sm>
      <div>
        <u lines="inset" *ngFor="let n of DataSubmenu_abejas">{{n.nombre_abeja_grupo}}</u>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="sli">
    <ion-col  size="6" lines="inset" *ngFor="let data of DataEspecies_abeja">    
      <div (click)="abrirPaginaEspeciesAbeja(data.id_especie_abeja)">
       <input type="image" src={{data.ruta_imagen_especie_abeja_menu}} width="130" height="130" class="botones" >
      </div>
      <div>
       {{data.nombre_comun}}
      </div>
   </ion-col>
  </ion-row>

  <ion-row lines="inset" *ngFor="let data of DataSubmenu_abejas" class= "texto">
    <ion-col size="5" size-sm>
      <div>
        <ion-label class="signals">
          <h5>Familia</h5>
        </ion-label>
      </div>
      <div>
        <ion-label class="signals">
          <h5>Tribu</h5>
        </ion-label>
      </div>
      <div>
        <ion-label class="signals">
          <h5>Origen</h5>
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="7" size-sm>
      <div class="responses">
        <ion-label>
          <p>{{data.familia}}</p>
        </ion-label>
      </div>
      <div class="responses">
        <ion-label>
          <p>{{data.tribu}}</p>
        </ion-label>
      </div>
      <div class="responses">
        <ion-label>
          <p>{{data.origen}}</p>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>

  <ion-row lines="inset" *ngFor="let data of DataSubmenu_abejas" class="texto">
    <ion-col size="12" size-sm>
      <div>
        <ion-label class="signals">
          <h5>Comportamiento</h5>
        </ion-label>
      </div>
      <div>
        <ion-label class="responses">
          <p class = "justificar_texto">{{data.comportamiento}}</p>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>

  <ion-row lines="inset" *ngFor="let data of DataSubmenu_abejas" class="texto">
    <ion-col size="12" size-sm>
      <div>
        <ion-label class="signals">
          <h5>Características</h5>
        </ion-label>
      </div>
      <div>
        <ion-label class="responses">
          <p class = "justificar_texto">{{data.caracteristicas}}</p>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>

</ion-content>

<app-biblioteca-footer></app-biblioteca-footer>
