<app-biblioteca-header></app-biblioteca-header>

<ion-content [fullscreen]="true">
  <ion-text><u>Información</u></ion-text>
  <ion-row>

    <ion-col size="6" lines="inset" *ngFor="let data of DataMenu_informacion">
      <div (click)="abrirSeccion(data.id_seccion_informacion)">
        <input type="image" src={{data.ruta_imagen_seccion}} width="130" height="130" class="botones">
      </div>
      <div class="titulos">
        {{data.nombre_seccion}}
      </div>

    </ion-col>

  </ion-row>

  <ion-row class="desc">
    <ion-col routerLink="/informacion-descargable">
      <div class="botones">
        <ion-img src="/assets/descargables.png" width="140" height="140" class="centrar_imagen"> </ion-img>
      </div>
      <div class="titulos">
        Descargables
      </div>
    </ion-col>
  </ion-row>


</ion-content>


<app-biblioteca-footer></app-biblioteca-footer>