svg{
  
  //align-items: center;
  justify-content: center;
  //display: inline-block;
  margin: 0 auto;
  text-align: center;
  //position: relative;
  //left: 50%;  
}

u {
  content: "";
  text-decoration: none;
  padding-bottom: 5px;
  //padding-left: 0px;
  //padding-right: 28px;
  margin-left: 0px;
  font-size: 23px;
  font-family: OpenSans-SemiBold;
  border-bottom: 5px solid #36FF14;
  color: black;
  margin-left: 28px;
}

.titulos{
  margin-top: 5px;
  font-size: 20px;
  font-family: OpenSans-Regular;
}

.desc{
  margin-top: 0px;
}

app-biblioteca-header{
  margin-bottom: 20px;
}

ion-row{
  margin-top: 20px;
}

ion-grid{
  margin-top: 10%;
}

ion-col {
  text-align: center;
}

ion-content{
  margin-left: 55px;
  padding-right: 55px;
}

.centrar_imagen{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 90%;
  width: 90%;
  padding-top: auto;
  padding-bottom: auto;
}

.botones{
  background-color: white;
  border: 6px solid  lightgreen;
  border-radius: 20px;
  height: 120px;
  width: 120px;
}

div{

  //align-items: center;
  justify-content: center;
  //display: inline-block;
  margin: 0 auto;
  text-align: center;
  //position: relative;
  //left: 50%;  
}