<app-biblioteca-header class="ignore"></app-biblioteca-header>

<ion-content>

  <!--<ion-row>
    <ion-col size="12" size-sm>
      <div>
        <h2 lines="inset" *ngFor="let n of Data">{{n.nombre_seccion}}</h2>
      </div>
    </ion-col>
  </ion-row>-->
  <ion-text lines="inset" *ngFor="let n of Data"><u>{{n.nombre_seccion}}</u></ion-text>
  <ion-row>
    <ion-col size="12" size-sm>
      <div>
        <h4 class="subtitulo">Datos curiosos</h4>
      </div>
      <div lines="inset" *ngFor="let n of Data_dato_curioso" class="justificar_texto">
        <hr class="arriba">
        <p>{{n.dato_curioso}}</p>
        <hr class="abajo">
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" size-sm>
      <div>
        <h4 class="subtitulo_c">Conceptos</h4>
      </div>
      <div class="sizebuton">
        <button lines="inset" *ngFor="let n of Data_conceptos" class="bordercolor" (click)="abrirInformacionConcepto(n.id_concepto)">
          <h6 class="nombre_concepto">{{n.nombre_concepto}}</h6>
        </button>
      </div>
    </ion-col>
  </ion-row>

</ion-content>

<app-biblioteca-footer class="ignore"></app-biblioteca-footer>