u {
    content: "";
    text-decoration: none;
    padding-bottom: 5px;
    //padding-left: 0px;
    //padding-right: 28px;
    margin-left: 0px;
    font-size: 23px;
    font-family: OpenSans-SemiBold;
    border-bottom: 5px solid #36FF14;
    color: black;
    //margin-left: 28px;
    margin-left: 28px;
    padding-right: 28px;
}

app-biblioteca-header {
    margin-bottom: 15px;
}

.subtitulo{
    font-family: OpenSans-Regular;
    font-size: 18px;
    text-align: justify;
    margin-left: 28px;
    padding-right: 28px;
    padding-top: 10px;
}

.subtitulo_c{
    font-family: OpenSans-Regular;
    font-size: 18px;
    text-align: justify;
    margin-left: 28px;
    padding-right: 28px;
    padding-bottom: 10px;
}

.ignore{
    margin-left: 0px;
    padding-right: 0px;
}

.justificar_texto{
    font-family: OpenSans-Light;
    font-size: 16px;
    text-align: justify;
    margin-left: 28px;
    padding-right: 28px;
}
.bordercolor{
   // background-color: lightgreen;
   background-color: white;
   border-left: 5px solid lightgreen;
   border-right: 70px solid transparent;
    //border:  3px solid lightgreen;
    //border-radius: 0px;
    margin-left: 28px;
    padding-right: 28px;
    height:20px;
    margin-bottom: 17px;
}


.nombre_concepto{
    font-family: OpenSans-Regular;
    font-size: 16px;
    text-align: justify;
    padding-top: 5px;
    margin-top: -3px;
}

.arriba{
    width:10%;
    border-top: 2px solid #36FF14;
    margin-top : 10px;
    margin-bottom: 0px; 
    padding: 0 auto;
    text-align: right;
    margin-right: 100%;
}

.abajo{
    width:10%;
    border-top: 2px solid #36FF14;
    margin:0 auto;
    padding: 0 auto;
    text-align: left;
    margin-right: 0%;
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
}